@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Raleway');

html, body {
  margin: 0;
  height: 100%;
  background-color: #fafafa;
  color: #1A1A1A;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #1A1A1A;
  background-color: #fafafa;
  text-decoration: none; /* no underline */
}
